{% extends 'layout.html' %}
{% block content %}


{% block login %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{url_for('static',filename='bootstra.min.css')}}">

<link rel="stylesheet" href="{{url_for('static',filename='styless.css')}}">
{% endblock %}

{% if active %}


{% else %}
{% block nav %}
<li ><a href="{{url_for('home')}}">Home</a></li>
<li><a href="{{url_for('contest')}}" >Contest</a></li>
<li class="active"><a href="{{url_for('game')}}">Game</a></li>
<li><a href="{{url_for('people')}}">People</a></li>
<li ><a href="{{url_for('blog')}}">Blog</a></li>
<li><a href="{{url_for('chat')}}">Adda</a></li>
<li class="profile" ><a href="{{url_for('profile',username=current_user.username,id=current_user.id)}}"><img  src="{{ image_file }}" alt="" />Profile</a></li>

 {% endblock %}
{% endif %}
<div class="container">
    			<div class="row">
  <div class="container img-container">
        <div id="upload-div"></div>
        <div class="img-div">
          <div class="header">
            <img src="{{url_for('static',filename='images/Rahi.jpg')}}" class="img-responsive" alt="team img 1">


          <a href=""><b><i>Imran Hasan Rahi</i></b></a><a href=""><b><i>Mithun ROy</i></b></a>
          </a>
       </div>

       <div class="">


</div>
<div>




             <img src="{{url_for('static',filename='images/Sharuk.jpg')}}" class="img-responsive" alt="team img 1">


         </div>


             </div>




             </div>
             </div>

</div>







    			</div>
    		</div>




{% endblock %}
