.profile img{
	width:25px;
	height:20px;
}
.rahi{
	margin-right: 25%;
}
.pip{
 color: #161657;
}
.link{

	margin-right: 50%;

}
.phone{
	padding-top:70px;
	height:650px;
	float:right;
	margin:10px
}
body{
	background-color: #fafafa!important;
}
.rahi{
	margin-right: 50%;
}


}
.people img{
	height: 10px;
	width:10px;

}
